.admin-main-navigation {
    display: flex;

    @media only screen and (max-width: 400px) {
        flex-direction: column;
        display: flex;
        text-align: left;
    }
}

.admin-main-navigation__collections {
    width: 100%;
    align-self: center;
}

.admin-main-navigation__actions {
    display: flex;
    justify-content: flex-end;
    align-self: center;
    margin-left: 20px;
    @media only screen and (max-width: 400px) {
        margin-left: 0px;
        margin-top: 15px;
    }
}
