.desktop-header__logo {
  // img {
  //     width: 58px;
  //     height: 52px;
  //     background: url('../../../../../static/logo.png');
  //     background-size: 100%;
  //     background-repeat: no-repeat;
  // }
  height: 60px;
    width: 60px;
    align-content: center;
}

.desktop-header__logo-link {
  align-self: center;
}