@import '../../../../styles/variables.scss';

/*
 * Header
 */

.admin-collections__header {
    display: flex;
}

.admin-collections__title {
    width: 100%;
    align-self: center;
}

.admin-collections__toolbar {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.admin-collections__add-button {
    width: 130px;

    @media only screen and (max-width: 400px) {
        width: 90px;
    }
}

/*
 * List
 */

.admin-collections__list {
    margin-top: 30px;
}

.admin-collections__link {
    @media only screen and (max-width: 400px) {
        display: flex;
        flex-direction: row;
    }
    & > a {
        color: $color-primary;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.admin-collections__status {
    @media only screen and (max-width: 400px) {
        display: flex;
        flex-direction: row;
    }
}

.admin-collections__labels {
    display: flex;
    @media only screen and (max-width: 400px) {
        flex-direction: column;
    }
}

.admin-collections__mobile-title {
    display: none;
    @media only screen and (max-width: 400px) {
        display: flex;
        padding-right: 10px;
    }
}

.admin-collections__label {
    &:not(:first-child) {
        margin-left: 5px;
    }
    @media only screen and (max-width: 400px) {
        &:not(:first-child) {
            margin-left: 0px;
        }
        padding: 5px;
    }
}
