@import '../../../../styles/variables.scss';

.header-highlight {
    display: flex;
    justify-content: center;
    padding: 7.5px 0;
    background-color: $homepage_envios_gratis_top_banner_background_color;
}

.header-highlight__shipping-icon {
    align-self: center;
}

.header-highlight__shipping-text {
    margin-left: 7.5px;
}
